.card {
  width: 240px;
  padding: 10px;
  background: var(--accent-color);

  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border: 2px solid var(--primary-color);
}

.info {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  font-weight: 700;
}

.popularity {
  color: var(--gold-accent);
  font-weight: 600;
}

.role {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
