.navBar {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navLink {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  padding-left: 16px;
}

.active {
  color: var(--active-menu-color);
}

.navLink:hover {
  color: var(--active-menu-color);
}
